
=========================

#数据与特征矩阵 (严格隔离)

=========================

Data//*.mat
Data//.npy
Data/**/.h5
Data/**/*.csv
*.mat
*.npy

=========================

#Python 编译与运行缓存

=========================

pycache/
*.py[cod]
*$py.class
*.so
.pytest_cache/

=========================

#虚拟环境隔离

=========================

venv/
env/
.env
.venv/
miniconda3/
Anaconda3/

=========================

#IDE 与操作系统缓存

=========================

.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store
Thumbs.db